---
import { Icon } from 'astro-icon/components'
const res = await fetch(
  'https://script.google.com/macros/s/AKfycbzJaWR9GG_sLn1dkbgum3AeM1LmLS1Nktkrn8K0pFrlkip0mPn9JRdQQcvrbF-IL-Do/exec',
)
const { data } = await res.json()
// console.log(data)
// const data = [
//   {
//     uid: 1,
//     title: 'Lead Design',
//     role: 'Freelance',
//     location: 'Remote',
//     category: 'Design',
//     apply_link: 'https://lnkd.in/e6Hpt9Sj',
//     company: 'Apple',
//     company_link: 'www.radix.com.br',
//     company_img: 'https://vagaspm.netlify.app/refresh.png',
//     company_category: 'IT Services and IT Consulting',
//     company_tag: '',
//     job_description: 'descript',
//   },
//   {
//     uid: 2,
//     title: 'Product Manager',
//     role: 'Full-time',
//     location: 'New York',
//     category: 'Product Management',
//     apply_link: 'https://lnkd.in/e6Hpt9Sj',
//     company: 'Microsoft',
//     company_link: 'www.radix.com.br',
//     company_img: 'https://vagaspm.netlify.app/refresh.png',
//     company_category: 'IT Services and IT Consulting',
//     company_tag: '',
//     job_description: 'descript',
//   },
//   {
//     uid: 3,
//     title: 'Project Manager',
//     role: 'Part-time',
//     location: 'San Francisco',
//     category: 'Product Management',
//     apply_link: 'https://lnkd.in/e6Hpt9Sj',
//     company: 'Amplitude',
//     company_link: 'www.radix.com.br',
//     company_img: 'https://vagaspm.netlify.app/refresh.png',
//     company_category: 'IT Services and IT Consulting',
//     company_tag: '',
//     job_description: 'descript',
//   },
//   {
//     uid: 4,
//     title: 'Redator',
//     role: 'Internship',
//     location: 'Los Angeles',
//     category: 'IT',
//     apply_link: 'https://lnkd.in/e6Hpt9Sj',
//     company: 'iFood',
//     company_link: 'www.radix.com.br',
//     company_img: 'https://vagaspm.netlify.app/refresh.png',
//     company_category: 'IT Services and IT Consulting',
//     company_tag: '',
//     job_description: 'descript',
//   },
//   {
//     uid: 5,
//     title: 'Graphic Designer',
//     role: 'Freelance',
//     location: 'Remote',
//     category: 'Design',
//     apply_link: 'https://lnkd.in/e6Hpt9Sj',
//     company: 'Radix',
//     company_link: 'www.radix.com.br',
//     company_img: 'https://vagaspm.netlify.app/refresh.png',
//     company_category: 'IT Services and IT Consulting',
//     company_tag: '',
//     job_description: 'descript',
//   },
//   {
//     uid: 6,
//     title: 'Data Scientist',
//     role: 'Full-time',
//     location: 'Chicago',
//     category: 'Data',
//     apply_link: 'https://lnkd.in/e6Hpt9Sj',
//     company: 'Radix',
//     company_link: 'www.radix.com.br',
//     company_img: 'https://vagaspm.netlify.app/refresh.png',
//     company_category: 'IT Services and IT Consulting',
//     company_tag: '',
//     job_description: 'descript',
//   },
//   {
//     uid: '803b5f28-33ca-43a1-acc9-37a8ca2c565f',
//     title: 'Profissional de Product Owner Júnior ',
//     role: 'Freelance',
//     location: 'Remoto',
//     apply_link: 'https://lnkd.in/e6Hpt9Sj',
//     category: 'Product Owner',
//     company: 'Radix',
//     company_link: 'www.radix.com.br',
//     company_img: 'https://vagaspm.netlify.app/refresh.png',
//     company_category: 'IT Services and IT Consulting',
//     company_tag: '',
//     job_description: 'descript',
//   },
//   {
//     uid: '2a229012-c253-4cbd-84c8-889678817dc3',
//     title: 'Analista de Desenvolvimento de Produtos Sênior',
//     role: 'Tempo Integral',
//     location: 'Posto',
//     apply_link: 'https://www.linkedin.com/jobs/view/3916621604/',
//     category: 'Cheio de gás',
//     company: 'Ipiranga',
//     company_link: 'www.ipiranga.com.br',
//     company_img: '',
//     company_category: 'Gasolina',
//     company_tag: 'ipi ipi ipiranga',
//     job_description: 'descript',
//   },
//   {
//     uid: '0cbb94c4-db5c-4dcf-a303-75ccee696ea4',
//     title: 'Analista de Desenvolvimento de Produtos Sênior',
//     role: 'Tempo Integral',
//     location: 'Posto',
//     apply_link: 'https://www.linkedin.com/jobs/view/3916621604/',
//     category: 'Cheio de gás',
//     company: 'Ipiranga',
//     company_link: 'www.ipiranga.com.br',
//     company_img: '',
//     company_category: 'Gasolina',
//     company_tag: 'ipi ipi ipiranga',
//     job_description: 'descript',
//   },
//   {
//     uid: 'asdasd',
//     title: 'Analista de Desenvolvimento de Produtos Sênior',
//     role: 'Tempo Integral',
//     location: 'Posto',
//     apply_link: 'https://www.linkedin.com/jobs/view/3916621604/',
//     category: 'Cheio de gás',
//     company: 'Ipiranga',
//     company_link: 'www.ipiranga.com.br',
//     company_img: '',
//     company_category: 'Gasolina',
//     company_tag: 'ipi ipi ipiranga',
//     job_description: 'descript',
//   },
//   {
//     uid: 'd2',
//     title: 'Analista de Desenvolvimento de Produtos Sênior',
//     role: 'Tempo Integral',
//     location: 'Posto',
//     apply_link: 'https://www.linkedin.com/jobs/view/3916621604/',
//     category: 'Cheio de gás',
//     company: 'Ipiranga',
//     company_link: 'www.ipiranga.com.br',
//     company_img: '',
//     company_category: 'Gasolina',
//     company_tag: 'ipi ipi ipiranga',
//     job_description: 'descript',
//   },
// ]

import JobCard from './JobCard.astro'

// create an array of unique states and the count of each that appears in the data
// const states = data.reduce((acc, cur) => {
//   const state = cur.state
//   if (acc[state]) {
//     acc[state] += 1
//   } else {
//     acc[state] = 1
//   }
//   return acc
// }, {})

// sort the states by count descending
// const sortedStates = Object.keys(states).sort((a, b) => states[b] - states[a])

// create an object array of states and counts
// const stateCounts = sortedStates.map(state => {
//   return {
//     state,
//     count: states[state],
//   }
// })
---

<div x-data="jobFilter2()" x-init="init()" data-jobs={JSON.stringify(data)}>
  <div class="mb-12 border-b border-solid border-slate-300 p-6">
    <div class="grid gap-4 md:grid-cols-3">
      <div class="relative w-full">
        <Icon
          name="mdi:search"
          class="absolute left-3 top-1/2 -translate-y-1/2 transform text-2xl text-gray-400"
        />
        <input
          type="text"
          placeholder="Palavras-chave"
          class="w-full rounded-lg border border-gray-300 p-2 pl-10 focus:outline-none focus:ring-2 focus:ring-sky-300"
          x-model="searchQuery.keywords"
        />
      </div>
      <div class="relative w-full">
        <Icon
          name="mdi:place-outline"
          class="absolute left-3 top-1/2 -translate-y-1/2 transform text-2xl text-gray-400"
        />
        <input
          type="text"
          placeholder="Local"
          class="w-full rounded-lg border border-gray-300 p-2 pl-10 focus:outline-none focus:ring-2 focus:ring-sky-300"
          x-model="searchQuery.location"
        />
      </div>
      <div>
        <div
          x-combobox
          x-model="selected"
          class="relative rounded-lg focus-within:ring-2 focus-within:ring-sky-300">
          <div class="relative">
            <div
              class="relative flex items-center justify-between gap-2 rounded-lg border border-gray-300 bg-white p-2">
              <Icon
                name="mdi:category-plus-outline"
                class="absolute left-3 top-1/2 -translate-y-1/2 transform text-2xl text-gray-400"
              />
              <input
                x-combobox:input
                :display-value="framework => framework.name"
                class="w-full border-none p-0 pl-10 focus:outline-none focus:ring-0"
                placeholder="Categorias"
                x-model="searchQuery.category"
                @change="filterJobs"
              />
              <button
                x-combobox:button
                class="absolute inset-y-0 right-0 flex items-center pr-2">
                <!-- Heroicons up/down -->
                <svg
                  class="h-5 w-5 shrink-0 bg-white text-gray-500"
                  viewBox="0 0 20 20"
                  fill="none"
                  stroke="currentColor"
                  ><path
                    d="M7 7l3-3 3 3m0 6l-3 3-3-3"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
              </button>
            </div>

            <div
              x-combobox:options
              x-cloak
              class="absolute left-0 z-10 mt-2 max-h-60 w-full max-w-xs origin-top-right overflow-auto rounded-md border border-gray-200 bg-white shadow-md outline-none"
              x-transition.out.opacity>
              <ul class="divide-y divide-gray-100">
                <template
                  x-for="framework in filteredFrameworks"
                  :key="framework.id"
                  hidden>
                  <li
                    x-combobox:option
                    @click="selectFramework(framework)"
                    :value="framework"
                    :disabled="framework.disabled"
                    :class="{
                                'bg-cyan-500/10 text-gray-900': $comboboxOption.isActive,
                                'text-gray-600': ! $comboboxOption.isActive,
                                'opacity-50 cursor-not-allowed': $comboboxOption.isDisabled,
                            }"
                    class="flex w-full cursor-default items-center justify-between gap-2 px-4 py-2 text-sm">
                    <span x-text="framework.name"></span>

                    <span
                      x-show="$comboboxOption.isSelected"
                      class="font-bold text-cyan-600">&check;</span
                    >
                  </li>
                </template>
              </ul>

              <p
                x-show="filteredFrameworks.length == 0"
                class="px-4 py-2 text-sm text-gray-600">
                Não há Categorias com esse termo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <button
        class="rounded-lg bg-sky-300 px-4 py-2 text-white hover:bg-sky-500 focus:outline-none focus:ring-2 focus:ring-sky-300">
        Search
      </button> -->
    </div>
    <div class="pt-6 font-semibold text-slate-500">
      <div class="flex space-x-4">
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            class="form-checkbox peer"
            x-model="filters.freelance"
          />
          <span class="ml-2 peer-checked:text-sky-300">Freelance</span>
        </label>
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            class="form-checkbox peer"
            x-model="filters.fullTime"
          />
          <span class="ml-2 peer-checked:text-sky-300">Tempo Integral</span>
        </label>
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            class="form-checkbox peer"
            x-model="filters.internship"
          />
          <span class="ml-2 peer-checked:text-sky-300">Estágio</span>
        </label>
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            class="form-checkbox peer"
            x-model="filters.partTime"
          />
          <span class="ml-2 peer-checked:text-sky-300">Meio Expediente</span>
        </label>
      </div>
    </div>
  </div>
  <div>
    <ul class="space-y-12">
      <template x-for="job in filteredJobs" :key="job.uid">
        <li
          x-data="{ expanded: false }"
          @click="expanded = ! expanded"
          class="relative rounded border border-l-4 border-slate-400 bg-white p-4 pb-5 shadow-md">
          <div
            class="grid w-full items-center gap-4"
            style="grid-template-columns: 65px 0.7fr 0.3fr;">
            <div>
              <img
                :src="job.company_img"
                :alt="job.company"
                height="65"
                width="65"
                onError={e => {
                  e.target.style.display = 'none' // Hide the image if it fails to load
                }}
              />
            </div>
            <div>
              <p class="mb-2 font-serif text-xl font-semibold" x-text="job.job">
              </p>
              <p class="text-base text-slate-500">
                <span class="font-bold" x-text="job.company"></span>
                <span x-text="job.company_tag"></span>
              </p>
              <p class="text-xs text-slate-400">
                <span class="" x-text="job.company_category"></span>
              </p>
            </div>
            <div class="space-y-1 text-right">
              <p class="text-sm" title="Categoria">
                <span x-text="job.category"></span>
              </p>
              <p
                class="text-sm font-bold text-slate-700"
                title="Role"
                x-text="job.role">
              </p>
              <p
                class="text-base text-slate-700"
                title="Local"
                x-text="job.location">
              </p>
              <!-- <a
        href={data.apply_link}
        class="absolute -right-12 top-0 m-0 font-mono text-xs font-bold"
        style="margin: 0 !important;"
        target="_blank">
        quick<br />apply
      </a> -->
            </div>
          </div>
          <p x-show="expanded" x-collapse.min.30px class="py-4">
            <span class="whitespace-pre-line" x-html="job.job_description">
            </span>
            <br />
            <a
              :href="job.apply_link"
              @click.stop
              class="z-1 mb-2 me-2 mt-12 inline-flex rounded-lg bg-sky-300 px-4 py-2 text-white hover:bg-sky-500 focus:outline-none focus:ring-2 focus:ring-sky-300">
              <span class="inline-flex items-center">
                Ir para o Linkedin<span class="pl-2 [&>svg]:h-4 [&>svg]:w-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 448 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                    <path
                      d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
                    ></path>
                  </svg>
                </span>
              </span>
            </a>
          </p>
        </li>
      </template>
    </ul>
  </div>
</div>

<style>
  input {
    @apply font-semibold text-slate-500;
  }
  input[type='checkbox'] {
    @apply text-white accent-sky-600;
  }

  li:hover {
    cursor: pointer;
  }
</style>
