---
import { Icon } from 'astro-icon/components'
const res = await fetch(
  'https://script.google.com/macros/s/AKfycbzJaWR9GG_sLn1dkbgum3AeM1LmLS1Nktkrn8K0pFrlkip0mPn9JRdQQcvrbF-IL-Do/exec',
)
import jobsList from './jobs.json'
const { data } = await res.json()

// const { data } =
// console.log(data)
// const data =
---

<div x-data="jobFilter()" x-init="init()" data-jobs={JSON.stringify(data)}>
  <div class="mb-12 border-b border-solid border-slate-300 p-6">
    <div class="grid gap-4 md:grid-cols-3">
      <div class="relative w-full">
        <Icon
          name="mdi:search"
          class="absolute left-3 top-1/2 -translate-y-1/2 transform text-2xl text-gray-400"
        />
        <input
          type="text"
          id="keywords"
          placeholder="Palavras-chave"
          class="w-full rounded-lg border border-gray-300 p-2 pl-10 focus:outline-none focus:ring-2 focus:ring-sky-300"
          x-model="searchQuery.keywords"
          @input="filterJobs"
        />
      </div>
      <div class="relative w-full">
        <Icon
          name="mdi:place-outline"
          class="absolute left-3 top-1/2 -translate-y-1/2 transform text-2xl text-gray-400"
        />
        <input
          type="text"
          id="place"
          placeholder="Local"
          class="w-full rounded-lg border border-gray-300 p-2 pl-10 focus:outline-none focus:ring-2 focus:ring-sky-300"
          x-model="searchQuery.location"
          @input="filterJobs"
        />
      </div>

      <div class="relative w-full">
        <Icon
          name="mdi:category-plus-outline"
          class="absolute left-3 top-1/2 -translate-y-1/2 transform text-2xl text-gray-400"
        />
        <label for="category" class="sr-only">Categorias</label>
        <select
          id="category"
          x-model="searchQuery.category"
          class="w-full rounded-lg border border-gray-300 bg-white p-2 pl-10 focus:outline-none focus:ring-2 focus:ring-sky-300">
          <option value="" selected>Categorias</option>
          <option value="Design">Design</option>
          <option value="Product Management">Product Management</option>
          <option value="Programação Front-end">Programação Front-end</option>
          <option value="Programação Back-end">Programação Back-end</option>
          <option value="Redator">Redator</option>
          <option value="Marketing">Marketing</option>
        </select>
      </div>
      <!-- <button
        class="rounded-lg bg-sky-300 px-4 py-2 text-white hover:bg-sky-500 focus:outline-none focus:ring-2 focus:ring-sky-300">
        Search
      </button> -->
    </div>
    <div class="pt-6 font-semibold text-slate-500">
      <div
        class="grid flex-wrap items-center justify-between md:flex md:space-x-4">
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            class="form-checkbox peer"
            x-model="filters.freelance"
          />
          <span class="ml-2 peer-checked:text-sky-300">Freelance</span>
        </label>
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            class="form-checkbox peer"
            x-model="filters.fullTime"
          />
          <span class="ml-2 peer-checked:text-sky-300">Tempo Integral</span>
        </label>
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            class="form-checkbox peer"
            x-model="filters.internship"
          />
          <span class="ml-2 peer-checked:text-sky-300">Estágio</span>
        </label>
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            class="form-checkbox peer"
            x-model="filters.partTime"
          />
          <span class="ml-2 peer-checked:text-sky-300">Meio Expediente</span>
        </label>
        <div
          class="mt-6 inline-flex flex-grow items-center md:mt-0 md:justify-end">
          <button
            onclick="clearSelections(this)"
            class="inline-flex rounded-lg px-2 py-1 hover:bg-sky-100 focus:outline-none focus:ring-2 focus:ring-sky-300">
            Limpar campos
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul class="space-y-12">
      <template x-for="job in filteredJobs" :key="job.uid">
        <li
          x-data="{ expanded: false }"
          @click="expanded = ! expanded"
          class="relative rounded border border-l-4 border-slate-400 bg-white p-4 pb-5 shadow-md">
          <div
            class="grid w-full items-center gap-4"
            style="grid-template-columns: 65px 0.7fr 0.3fr;">
            <div>
              <img
                :src="job.company_img"
                :alt="job.company"
                height="65"
                width="65"
                onError={e => {
                  e.target.style.display = 'none' // Hide the image if it fails to load
                }}
              />
            </div>
            <div>
              <p class="mb-2 font-serif text-xl font-semibold" x-text="job.job">
              </p>
              <p class="text-base text-slate-500">
                <span class="font-bold" x-text="job.company"></span>
                <span x-text="job.company_tag"></span>
              </p>
              <p class="text-xs text-slate-400">
                <span class="" x-text="job.company_category"></span>
              </p>
            </div>
            <div class="space-y-1 text-right">
              <p class="text-sm" title="Categoria">
                <span x-text="job.category"></span>
              </p>
              <p
                class="text-sm font-bold text-slate-700"
                title="Role"
                x-text="job.role">
              </p>
              <p
                class="text-base text-slate-700"
                title="Local"
                x-text="job.location">
              </p>
              <!-- <a
        href={data.apply_link}
        class="absolute -right-12 top-0 m-0 font-mono text-xs font-bold"
        style="margin: 0 !important;"
        target="_blank">
        quick<br />apply
      </a> -->
            </div>
          </div>
          <p x-show="expanded" x-collapse.min.30px class="py-4">
            <span class="whitespace-pre-line" x-html="job.job_description">
            </span>
            <br />
            <a
              :href="job.apply_link"
              @click.stop
              class="z-1 mb-2 me-2 mt-12 inline-flex rounded-lg bg-sky-300 px-4 py-2 text-white hover:bg-sky-500 focus:outline-none focus:ring-2 focus:ring-sky-300">
              <span class="inline-flex items-center">
                Ir para o Linkedin<span class="pl-2 [&>svg]:h-4 [&>svg]:w-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 448 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                    <path
                      d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
                    ></path>
                  </svg>
                </span>
              </span>
            </a>
          </p>
        </li>
      </template>
    </ul>
  </div>
</div>

<style>
  input,
  select,
  select > * {
    @apply font-semibold text-slate-500;
    line-height: 24px; /* fucking hack */
    height: 42px; /* fucking hack cause select box has smaller height */
  }
  input[type='checkbox'] {
    @apply text-white accent-sky-600;
  }

  li:hover {
    cursor: pointer;
  }
</style>
<script is:inline>
  function clearSelections(button) {
    // Clear input boxes
    const inputElements = document.querySelectorAll('input')
    inputElements.forEach(input => {
      input.value = ''
      input.dispatchEvent(new Event('input')) // Trigger input event
    })

    // Clear select boxes
    const selectElements = document.querySelectorAll('select')
    selectElements.forEach(select => {
      select.value = ''
      select.dispatchEvent(new Event('change')) // Trigger change event
    })

    // Clear focus from the button
    button.blur()
  }
</script>
